/* BLOCK */

.services {
    border-radius: 3px;
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    @include responsive(l) {
        margin: 50px 0;
    }
}

/* ELEMENTS */

.services__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
    text-align: center;
    flex-grow: 1;
    @include responsive(s) {
        flex-basis: 50%;
    }
    @include responsive(m) {
        font-size: 16px;
    }
    @include responsive(l) {
        font-size: 20px;
    }
}

.services__title {
    padding: {
        top: 8px;
        bottom: 8px;
    }
    font: {
        weight: bold;
    }
}

/* MODS */

.services--icon {
    font-size: 20px;
    padding-right: 5px;
}

/* RESPONSIVE */