/* COLORS */
$header: #FEFEFE;
$shadow: #bdbdbd;
$button--buy: #50c878;
$navbar-color: #FFFFFF;
$navbar-item-color: #000000;
$footer-color: #F3F3F3;
$footer-link-color: #000000;
$navbar-item-hover: #b20000;
$main-action: #FF4500;
$action-text: #F1F1F1;
$body-color: #FFFFFF;
$form-label-color: #000000;
$fb-color: #3b5998;
$twitter-color: #0084b4;
$youtube-color: #FF0000;
$mail-color: #228B22;
$submit-color: #C11C17;

/* GRID */

$min-col-width: percentage($number: 1/12);

/* DEVICES */

$s: "screen and (min-width: 576px)";
$m: "screen and (min-width: 768px)";
$l: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1400px)";


/* BREAKPOINTS FOR carousel */

$carousel-m: "screen and (min-width: 401px)";