@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'services';
@import 'beetrack';
@import 'parallax';
@import 'img';
@import 'swipers';
@import 'location';
@import 'marketplace';
@import 'base';
@import 'footer';
@import 'menu';
@import 'about';
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    position: relative;
    background-image: url("../img/regal.png");
}

#my-menu:not( .mm-menu) {
    display: none;
}
